<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="Amonic_Airlines.Properties" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="AMONIC-Airlines"
         connectionString="Server=DESKTOP-2QJL6PR\SQLEXPRESS;Database=AMONIC-Airlines;Trusted_Connection=True;"/>
  </connectionStrings>
  
  
  <userSettings>
    <Amonic_Airlines.Properties>
      <setting name="CountAttempts" serializeAs="String">
        <value>0</value>
      </setting>
    </Amonic_Airlines.Properties>
  </userSettings>
</configuration>